# **DATA Types and structure questions**

1. What are data structures, and why are they important?
 - Data steucture are ways to organize and store data so that they can be used efficiently.

2. Explain the difference between mutable and immutable data types with examples?
  - These two words tell you weather the value of a data can be changed after it's created

  (i) Mutable:
        you modify the contents of these data types without creating a new object.
        - Examples:
          - List
          - Set
          - Dictionary

   (ii) Imutable (unchangeable):
            once created,the value cannot be changed. if you try,Python makes a new object.
          - Examples:
            - Integer
            - Float
            - String
            - Tuple

3. What are the main differences between lists and tuples in Python?
  - The main difference between List and Tuple.

   (i) **LIST**
      - changeable after creation
      - my_list = [1, 2, 3]
      - Lots(append(),remove(),etc.)
      - Slightly slower due to fexibility
      - Uses more memory
      - Tasks needing updates,like carts
      - unusable as dictionary key

  (ii) **TUPLE**
       - Fixed once created
       - my_tuple = (1, 2, 3)
       - Few (count(),index())
       - Faster optimized for fixed data.
       - More memory-efficent
       - stable values,like coordinates
       - usable as dictonary key.

4. Describe how dictionaries store data?
 - Dictionaries store data as key-value pairs.
    - my_dict = {"name":"aadi", "Language":"python"}
     - Here:
      - "name" and "Language" are key.
      - "aadi" and "python" are their
          corresponding values.

5. Why might you use a set instead of a list in Python?
- You might use a set instead of a list in Python when you need to store unique values and dont care about the order of elements. Sets automatically remove duplicates and offer faster performance for tasks like checking whether an item exists.

6. What is a string in Python, and how is it different from a list?

  -  strings are for handling text, and lists are flexible containers for storing a variety of data types with editable content.

7. How do tuples ensure data integrity in Python?

  - Tuples ensure data integrity in Python by being immutable, meaning their contents cannot be changed once they're created.

8. What is a hash table, and how does it relate to dictionaries in Python?

   - A hash table is a data structure that allows for fast access to data by associating keys with values using a unique hash code.

9. Can lists contain different data types in Python?

  -  yes, list can contain different types in python.
     - my_list = [42, "hello", 2.55, True, [1, 2]

         -- An integer (42)

         -- A string ("hello")

         -- A float (2.55)

         -- A bollen (True)

         -- Another list (1, 2)

10.  Explain why strings are immutable in Python?

   -  strings are immutable because once a string object is created, its contents cannot be altered. This design choice improves both performance and security.

11. What advantages do dictionaries offer over lists for certain tasks?

  -  If your task involves named relationships, fast retrieval, or structured records, dictionaries win hands down over plain lists.

12. Describe a scenario where using a tuple would be preferable over a list?
 - In scenarios where data must remain unchanged, using a tuple is preferable over a list due to its immutability and semantic clarity.

13. How do sets handle duplicate values in Python?
- Sets in Python are designed to automatically eliminate duplicates. When you create a set, any repeated values are silently filtered out, leaving only unique elements. This behavior is built into the very nature of sets—they model mathematical sets, which contain distinct items only.

for example:-

    - my_set = {1,2,2,2,3,3,}
      print(my_set)

14. How does the “in” keyword work differently for lists and dictionaries?
  - when used with a list,(in) checks is a value exists amoung the list elements.

15. Can you modify the elements of a tuple? Explain why or why not?
  - No, we cannot directly modify the elements of a tuple because tuples in python are immutable.This means that once a tuple is created it cannot change no addition,deletions,or value updates.

16. What is a nested dictionary, and give an example of its use case?
 - A nested dictionary in Python is a dictionary that contains one or more dictionaries as its values.

17. Describe the time complexity of accessing elements in a dictionary?
  - Accessing elements in a Python dictionary typically has constant time complexity.
  - Each key is passed through a **hash function** that maps it to a specific index in the underlying array.
  - python directly acessess this index to reteive the value-no searching through the entire structure.

18.In what situations are lists preferred over dictionaries?
 - **Situtaion where Lists are ideal**

   - **Mainting Order:** List preserve the insertion order,which is great when the order of items matter-like displaying a to do list or processing steps in a sequence.

  - **Index-Based Acess:** you can acess element by position using indices,which is useful in loops or when using slicing.

  -  **Homogeneous Data :** when storing a collection of similar ites like numbers,string,or objects that don't need labels-list keep things simple and efficient.

  - **Dynamic Modification:** List are mutable,making it easy to add,remove,or update items dynamically.

  -**Iteration Simplicity:** They're straightforward to loop through without worrying about keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - dictionaries in Python were considered unordered because they didn't guarantee the order in which items were stored.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - the key difference between a list and a dictionary when it comes to data retrieval lies in how you access elements and what you're accessing.
  - Position-Based Access:
    - Element in a list are accessed using their index, which reflect their position in the sequence.
    - Retrieval is order sensitive and requires knowing the element's position.
  - **Dictionaries:key-Based Access:**
    - Element in a dictionary are accessed using a key.
     - Retrieval is label-sensitive and order isn't necessary.

# **PRACTICAL  QUESTIONS**

In [ ]:
# 1.Write a code to create a string with your name and print it.
name = "aadi"
print(name)

aadi

In [ ]:
# 2.Write a code to find the length of the string "Hello World".
string = "Hello World"
print(len(string))

11

In [ ]:
# 3.Write a code to slice the first 3 characters from the string "Python Programming".
string = "python programming"
print(string[0:3])

pyt

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase.
text = "hello"
upper_text = text.upper()
print(upper_text)

HELLO

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
# 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [ ]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50].
num = [10, 20, 30, 40, 50]
reversed_num = num[::-1]
print(reversed_num)

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

In [ ]:
# 13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
min_num = min(my_tuple)
print(min_num)

5

In [ ]:
# 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
cat_index = my_tuple.index('cat')
print(cat_index)

1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_tuple = ('apple', 'banana', 'orange')
is_kiwi_in_tuple = 'kiwi' in my_tuple
print(is_kiwi_in_tuple)

False

In [ ]:
# 16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

In [1]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [2]:
# 18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [3]:
# 19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [4]:
# 20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [7]:
# 21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person={"name":"aditya", "age":23, "city":"patna"}
for key,value in person.items():
  print(f"{key}: {value}")

name: aditya
age: 23
city: patna

In [8]:
type(person)

dict

In [9]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [10]:
# 23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [11]:
# 24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [12]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
city_exists = 'city' in person
print(city_exists)

True

In [14]:
# 26.Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2, 'c': 3}
print("my_list")
print(my_list)
print("my_tuple")
print(my_tuple)
print("my_dict")
print(my_dict)

my_list
[1, 2, 3]
my_tuple
(4, 5, 6)
my_dict
{'a': 1, 'b': 2, 'c': 3}

In [15]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#     result.(replaced)
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[10, 55, 75, 91, 98]

In [16]:
# 28. Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
third_element = my_list[2]
print(third_element)

cherry

In [22]:
# 29.Write a code to combine two dictionaries into one and print the result.
dict1 = {'a':1, 'b':2}
dict2 = {'c':3, 'd':4}
combined_dict = {**dict1, **dict2}
print("combined_dict", combined_dict )

combined_dict {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [23]:
# 30. Write a code to convert a list of strings into a set.
string_list = ["aaple","banana","cherry","apple","banana"]
string_set = set(string_list)
print("converted set: ", string_set)

converted set:  {'aaple', 'cherry', 'banana', 'apple'}